@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset básico global */
@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    @apply font-sans bg-[#f4f6f9] text-[#212529] min-h-screen;
  }
}
